{% extends 'mainpage/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container auth-page">
    <div class="auth-body">
        <h1>Login</h1>
        <form class="form-auth" action="/accounts/login/" method="post">
            {% csrf_token %}
            <li>
                {{form.username.label_tag}}
            </li>
            
            <li>
                {{form.username}}
            </li>

            <li>
                {{form.password.label_tag}}
            </li>

            <li>
                {{form.password}}
            </li>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            
            <!--Kasus jika user membutuhkan login untuk suatu laman 
                yang ingin dikunjunginya (Next)-->
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}

            <li>
                Don't have account yet? <span><a href="/accounts/signup/">Sign Up</a>
            </li>
            <input class="btn btn-dark" type="submit" value="Login">
        </form>
    </div>
</div>
{% endblock %}