{% extends 'mainpage/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container auth-page">
    <div class="auth-body">
        <h1>Sign Up</h1>
        <form class="form-auth" action="/accounts/signup/" method="post">
            {% csrf_token %}
            <li>
                {{form.username.label_tag}}
            </li>

            <li>
                {{form.username}}
            </li>

            <li>
                {{form.password1.label_tag}}
            </li>

            <li>
                {{form.password1}}
            </li>

            <li>
                {{form.password2.label_tag}}
            </li>

            <li>
                {{form.password2}}
            </li>
            
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}         
                    <!--Error yang terkait dengan permasalahan di field forms-->
                        <div class="alert alert-danger" style="text-align: center;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <!--Error yang bukan berhubungan dengan field forms-->
                    <div class="alert alert-danger" style="text-align: center;">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            
            <li>
                <div class="alert alert-warning">
                    <strong>This action will redirect you to homepage afterwards.</strong>
                </div>
            </li>
            <input class="btn btn-dark" type="submit" value="Sign Up">
        </form>
    </div>
</div>

{% endblock %}