{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'story1/style.css' %}">
</head>
<body>
    <h1 class="homebar">Hello World !</h1>
        
    <div class="profile">
        <img class="pp" src="{% static 'story1/IMG_9809.jpg' %}">
        <ul class="bio">
            <li>Name: Timothy Efraim</li>
            <li>NPM: 1906398502</li>
            <li>Angkatan: 2019</li>
            <li>Hobby: Playing music instrument (Piano)</li>
        </ul>
    </div>

    <div class="about">
        <h3 class="upbar">About Me</h3>
        <p>My name is Timothy. Currently, I'm a Computer Science student in University of Indonesia.<br>You can find more info about me from my updated website <a href="{% url 'home:home' %}">here!</a></p>
    </div>

    <div class="edu">
        <h3 class="upbar">Educational Background</h3>
        <ul class="list-edu">
            <li>University: University of Indonesia</li>
            <li>Senior High School: SMA Regina Pacis</li>
            <li>Junior High School: SMP Regina Pacis</li>
            <li>Elementary School: SD Kesatuan</li>
        </ul>   
    </div>
    
    <div class="contacts">
        <h3 class="upbar">Contacts</h3>
        <ul class="list-contacts">
            <li class="phone">087873257805</li>
            <li class="line"><a href="https://timeline.line.me/user/_ddsVorZ8EgF-HT5mYGTgSKG_xbZrnL1_S9XRf7s?utm_medium=windows&utm_source=desktop&utm_campaign=Profile">kinect.tim</a></li>
            <li class="ig"><a href="https://www.instagram.com/timothyefraimlg/">timothyefraimlg</a></li>
            <li class="steam"><a href="https://steamcommunity.com/id/TheBestkindasniper/">TheBestkindasniper</a></li>
        </ul>
    </div>
    
</body>
</html>