{% extends 'mainpage/base.html' %}
{% block title %}
Courses
{% endblock %}

{% block content %}
{% include 'mainpage/header.html' %}

<div class="container-xl">
    <h1>Courses</h1>
    <div class="row">
        {% for matkul in list_matkul %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{matkul.nama}} (Kelas {{matkul.kelas}})</h1>
                    <h2 class="card-subtitle mb-1 text-muted">{{matkul.dosen}}</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Jumlah SKS: {{matkul.sks}}</li>
                    <li class="list-group-item">Semester: {{matkul.semester}}</li>
                </ul>
                <a href="{% url 'matkul:matkul_desc' matkul.singkatan %}" class="btn btn-outline-dark">Details</a>
                <a href="{% url 'matkul:update_matkul' matkul.singkatan %}" class="btn btn-outline-dark">Update</a>
                <form action="{% url 'matkul:delete_matkul' matkul.singkatan %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-outline-dark btn-block but-del" type="submit" value="Delete">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="add-btn">
        <a class="btn btn-dark btn-lg but-add" href="{% url 'matkul:create_matkul' %}" role="button">Add Course</a>
    </div>
    
</div>
{% endblock %}