{% extends 'mainpage/base.html' %}
{% block title %}
{{matkul.nama}}
{% endblock %}


{% block content %}
{% include 'mainpage/header.html' %}
<div class="container-xl short">
    <div class="body-short">
        <h1>{{matkul.nama}}</h1>
        <h2 class="sub-heading">Lecturer: {{matkul.dosen}}</h2>
        <h2 class="sub-heading">Semester: {{matkul.semester}}</h2>
        <h2 class="sub-heading">Class: {{matkul.singkatan}}-{{matkul.kelas}}</h2>
        <p class="long-par">{{matkul.desc}}</p>
        <a class="btn btn-dark btn-lg but-back" href="{% url 'matkul:list_matkul' %}" role="button">Go Back</a>
    </div>
</div>

{% endblock %}