{% extends 'mainpage/base.html' %}
{% block title %}
{% if request.get_full_path == "/activities/create-activity" %}
Create Activity
{% else %}
Update Activity
{% endif %}
{% endblock %}


{% block content %}
{% include 'mainpage/header.html' %}
<div class="container-xl">
    {% if request.get_full_path == "/activities/create-activity" %}
    <h1>Create Activity</h1>
    {% else %}
    <h1>Edit Activity</h1>
    {% endif %}
    <div class="form-group">
        <form action="" method="post">
            {% csrf_token %}
            {{form_activ.name.label_tag}}
            {{form_activ.name}}
            {{form_activ.category.label_tag}}
            {{form_activ.category}}
            {{form_activ.desc.label_tag}}
            {{form_activ.desc}}
            {% if request.get_full_path == "/activities/create-activity" %}
            <input class="btn btn-dark btn-lg but-add" type="submit" value="Create">
            {% else %}
            <input class="btn btn-dark btn-lg but-add" type="submit" value="Update">
            {% endif %}
        </form>
    </div>
    <a class="btn btn-dark btn-lg but-back" href="{% url 'activities:list_activities' %}" role="button">Go Back</a>
</div>


{% endblock %}