{% extends 'mainpage/base.html' %}
{% block title %}
Add Participant
{% endblock %}


{% block content %}
{% include 'mainpage/header.html' %}
<div class="container-xl">
    <h1>Add Participant</h1>
   

    <div class="form-group">
        <form action="" method="post">
            {% csrf_token %}
            {{form_participant.name.label_tag}}
            {{form_participant.name}}
            
            <input class="btn btn-dark btn-lg but-add" type="submit" value="Add">
            
        </form>
    </div>
    <a class="btn btn-dark btn-lg but-back" href="{% url 'activities:list_activities' %}" role="button">Go Back</a>
</div>


{% endblock %}