{% extends 'mainpage/base.html' %}
{% block title %}
Details
{% endblock %}


{% block content %}
{% include 'mainpage/header.html' %}
<div class="container-xl">
    <h1>Details</h1>
    
  <div class="table-responsive-xl">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Activity</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Participants</th>
          </tr>
        </thead>
        <tbody>
          {% for act in list_activities %}
          <tr>
            <th scope="row">{{act.name}}</th>
            <td>{{act.category}}</td>
            <td>{{act.desc}}</td>
            <td>
                {% for part in act.participants.all %}
                <p>{{part.name}}</p>
                {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
    
  <a class="btn btn-dark btn-lg but-back" href="{% url 'activities:list_activities' %}" role="button">Go Back</a>
</div>


{% endblock %}