{% extends 'mainpage/base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'mainpage/script.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container-fl">
    <div class="logo-timmyworks">
        <img src="{% static 'mainpage/img/Logo Panjang.svg' %}" alt="/">
        <div class="user-auth">
            {% if user.is_authenticated %}
                <p>Hello, {{user.username}}!</p>
                <a href="/accounts/logout/">Log Out?</a>
            {% else %}
                <a href="/accounts/login/">Login</a>
                <a href="/accounts/signup/">Sign Up</a>
            {% endif %}
        </div>       
    </div>

    <div class="mini-bio">
        <img src="{% static 'mainpage/img/4284-1.jpg' %}" alt="profile-picture">
        <h1>Timothy Efraim</h1>
        <p>Currently a Computer Science student.</p>
        <p>Welcome aboard!</p>
    </div>
    
    <nav class="mini-nav">
        <ul>
            <li><a href="{% url 'home:gallery' %}">gallery</a></li>
            <li><a href="{% url 'home:about' %}">about me</a></li>
        </ul>
    </nav>
</div>

<div class="container-lg toolazy">
    <h1 class="tldr">TLDR</h1>
    <div class="main-accordion">
        <div class="d-flex flex-column mb-3">

            <div class="accordion">
                <div class="d-flex justify-content-between accordion-head">
                    <h2 class="sub-heading accordion-title">Bio.</h2>
                    <div class="d-flex align-items-center updown-btn">
                        <input class="up-btn" type="image" src="{% static 'mainpage/img/down-arrow-symbol-in-black-square-button.svg' %}" value="Up">
                        <input class="down-btn" type="image" src="{% static 'mainpage/img/down-arrow-symbol-in-black-square-button.svg' %}" value="Down">
                    </div>              
                </div>

                <div class="accordion-content">
                    <p>> You can call me Timothy/Timmy/Mothy.<br>> I'm 19 years old, lives in Bogor. My interest are coding, design, photographs, and cats.</p>
                </div>
            </div>


            <div class="accordion">
                <div class="d-flex justify-content-between accordion-head">
                    <h2 class="sub-heading accordion-title">Education.</h2>
                    <div class="d-flex align-items-center updown-btn">
                        <input class="up-btn" type="image" src="{% static 'mainpage/img/down-arrow-symbol-in-black-square-button.svg' %}" value="Up">
                        <input class="down-btn" type="image" src="{% static 'mainpage/img/down-arrow-symbol-in-black-square-button.svg' %}" value="Down">  
                    </div>              
                </div>

                <div class="accordion-content">
                    <p>> Majoring in Computer Science at University of Indonesia.<br>> Before that, I was a Regina Pacis Senior and Junior High School student.</p>
                </div>
            </div>

            <div class="accordion">
                <div class="d-flex justify-content-between accordion-head">
                    <h2 class="sub-heading accordion-title">Experience.</h2>
                    <div class="d-flex align-items-center updown-btn">
                        <input class="up-btn" type="image" src="{% static 'mainpage/img/down-arrow-symbol-in-black-square-button.svg' %}" value="Up">
                        <input class="down-btn" type="image" src="{% static 'mainpage/img/down-arrow-symbol-in-black-square-button.svg' %}" value="Down">  
                    </div>              
                </div>

                <div class="accordion-content">
                    <p>> Compfest - Staff of Visual Design<br>> Sekolah BEM Fasilkom - Pengembangan Teknologi Informasi</p>
                </div>
            </div>

            <div class="accordion">
                <div class="d-flex justify-content-between accordion-head">
                    <h2 class="sub-heading accordion-title">Skills.</h2>
                    <div class="d-flex align-items-center updown-btn">
                        <input class="up-btn" type="image" src="{% static 'mainpage/img/down-arrow-symbol-in-black-square-button.svg' %}" value="Up">
                        <input class="down-btn" type="image" src="{% static 'mainpage/img/down-arrow-symbol-in-black-square-button.svg' %}" value="Down">  
                    </div>              
                </div>

                <div class="accordion-content">
                    <p>> Code: Python (★★), Java (★).</p>
                    <p>> Design: Figma (★★★★), Photoshop (★★★).</p>
                    <p>> Others: Piano (★★), Photography (★).</p>
                </div>
            </div>

            

        </div>
    </div>
</div>
{% include 'mainpage/footer.html' %}
{% endblock %}