{% extends 'mainpage/base.html' %}

{% load static %}

{% block title %}
Coming Soon
{% endblock %}



{% block content %}
{% include 'mainpage/header.html' %}
<div class="container-xl">
    <h1>Hello.</h1>
    <div class="yoy">
        <p class="long-par">This page currently under construction because the creator have no idea what to put in here. More content coming soon !<br>In the meantime, please keep in watch for this lil bean. Thanks!</p>
        <div class="bean">
            <img src="{% static 'mainpage/img/bean.png' %}">
        </div>
    </div>
</div>

{% include 'mainpage/footer.html' %}
{% endblock %}