{% extends 'mainpage/base.html' %}

{% load static %}


{% block js %}
<script src="{% static 'booksearch/script.js' %}"></script>
{% endblock %}



{% block content %}

{% include 'mainpage/header.html' %}
<div class="container-xl book-searching">
  <h1>Search</h1>
  {% if user.is_authenticated %}
  <p class="sub-heading">Search books here!</p>
  <input type="text" id="search-keywords" placeholder="Insert the book's title...">
  {% else %}
  <!--redirect to previous page in Django after POST request (catching the next)-->
  <p class="sub-heading">Please <a href="{% url 'accounts:login' %}?next={{ request.path|urlencode }}">login first</a> in order to use this search.</p>
  <input type="text" id="search-keywords" placeholder="Insert the book's title..." disabled>
  {% endif %}
</div>

<div class="container-xl book-search-result">
  <h1>Result</h1>
  <div class="table-responsive-xl">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Description</th>
            <th scope="col">Cover</th>
          </tr>
        </thead>

        <tbody class="books-info">
          <tr>
          </tr>
        </tbody>

    </table>
  </div>
</div>

{% endblock %}